$width-xxs: 365.98px;
$width-xs: 575.98px;
$width-s: 767.98px;
$width-m: 991.98px;
$width-l: 1199.98px;

//colors
$color-light: #ffff;
$color-muted-light: #F3F3F3;
$color-muted-middle: #BDBDBD;
$color-muted: #7b7b7b;
$color-dark: #282828;
$color-primary: #fe5f1e;
$color-primary-dark: #de4101;
$color-success: #8DCC03;
$color-success-dark: #6A9900;
$color-danger: #ff3b3b;
$color-danger-dark: #e03636;
$color-warning: #FFCB44;
$color-warning-light: #ffdf8c;
