@import "../../../styles/mixins";

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;

  .tab {

  }

  @include screens-s {
    gap: 10px;
  }
  @include screens-xs {
    gap: 10px 5px;
  }
}